@import "tailwindcss";
@plugin "daisyui";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:#333;
  background-color:#f9f9f9;
}

body {
  padding:0;
  margin:0;

  background-color: #f5f5f5; 
}


