name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Backend
        run: |
          docker build ./Backend -t hamzafareed123/weather-task-manager-backend:latest
          docker push hamzafareed123/weather-task-manager-backend:latest

      - name: Build and push Frontend
        run: |
          docker build ./Frontend -t hamzafareed123/weather-task-manager-frontend:latest
          docker push hamzafareed123/weather-task-manager-frontend:latest
