name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  backend-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    services:
      mongodb:
        image: mongo:6
        ports:
          - 27017:27017

    env:
      PORT: 8000
      MONGO_URL: ${{ secrets.MONGO_URL }}
      MONGO_TEST_URI: mongodb://localhost:27017/testdb
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      CLIENT_URL: http://localhost:3000
      NODE_ENV: test

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./Backend/package-lock.json

      - name: Install Backend Dependencies
        working-directory: ./Backend
        run: npm ci

      - name: Build Backend
        working-directory: ./Backend
        run: npm run build

      - name: Run Backend Tests
        working-directory: ./Backend
        run: npm run test

  frontend-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./Frontend/package-lock.json

      - name: Install Frontend Dependencies
        working-directory: ./Frontend
        run: npm ci

      - name: Build Frontend
        working-directory: ./Frontend
        run: npm run build

      - name: Run Frontend Tests
        working-directory: ./Frontend
        run: npm run test -- --watchAll=false